*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.avif");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 3px solid #000000;
    background: #000000;
    color: #fff;
    outline: none;
}

input:focus{
    background: #fff;
    color: #000000;
}